.custom-logo {
  height: 60px;
  width: 40px;
  position: relative;

  &__letter {
    position: absolute;
    font-size: 36px;
    margin: 0;

    &--S {
      top: 0;
      left: 0;
      color: $primary;
      z-index: 1;
    }
    &--G {
      bottom: 0;
      right: 0;
      color: $secondary;
      z-index: 2;
    }
  }
}
