.navbar {
  transition: transform 0.3s ease;

  //HIDE AND SHOW NAVBAR ON SCROLL
  &.header-hidden {
    transform: translateY(-100%);
  }
}

.navbar,
.offcanvas {
  .nav-link {
    position: relative;
    color: $text;

    &::after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 2px;
      background-color: currentColor;
      transform-origin: center;
      transform: scaleX(0);
    }

    &:hover::after,
    &.active::after {
      animation: 0.3s ease-out forwards show-nav-underline;
    }

    // Variant classes for colors
    &--primary {
      &:hover,
      &.active {
        color: $primary;

        &::after {
          background-color: $primary;
        }
      }
    }
    &--secondary {
      &:hover,
      &.active {
        color: $secondary;

        &::after {
          background-color: $secondary;
        }
      }
    }
    &--accent1 {
      &:hover,
      &.active {
        color: $accent1;

        &::after {
          background-color: $accent1;
        }
      }
    }
    &--accent2 {
      &:hover,
      &.active {
        color: $accent2;

        &::after {
          background-color: $accent2;
        }
      }
    }
    &--accent3 {
      &:hover,
      &.active {
        color: $accent3;

        &::after {
          background-color: $accent3;
        }
      }
    }
  }
}

//------------------------- ANIMATIONS -------------------------
@keyframes show-nav-underline {
  0% {
    transform: scaleX(0);
  }
  100% {
    transform: scaleX(1);
  }
}
