.navbar {
  transition: transform 0.3s ease;

  //HIDE AND SHOW NAVBAR ON SCROLL
  &.header-hidden {
    transform: translateY(-100%);
  }
}

.offcanvas {
  .nav-link {
    position: relative;
    color: $text;
    transition: color 0.4s ease-in;

    &::after {
      content: "";
      position: absolute;
      bottom: $spacer * 0.25;
      left: 10%;
      width: 77%;
      height: 2px;
      background-color: currentColor;
      transform-origin: center;
      transform: scaleX(0);

      @include media-breakpoint-down(md) {
        left: 0;
        transform-origin: left;
      }
    }

    &:hover,
    &.active {
      &::after {
        animation: 0.3s ease-in 0.1s forwards show-nav-underline;
      }
      .nav-link__text {
        &::before,
        &::after {
          animation: 0.4s ease-out forwards hide-angle-brackets;
        }
      }
    }

    &__text {
      &::before {
        content: "< ";
        padding-right: $spacer * 0.25;
        transform-origin: right;
        display: inline-block;
      }

      &::after {
        content: " />";
        padding-left: $spacer * 0.25;
        transform-origin: left;
        display: inline-block;
      }
    }

    // Variant classes for colors
    &--primary {
      &:hover,
      &.active {
        color: $primary;
        transition: color 0.3s ease-out;

        &::after {
          background-color: $primary;
        }
      }
      .nav-link__text {
        &::before,
        &::after {
          color: $secondary;
        }
      }
    }
    &--secondary {
      &:hover,
      &.active {
        color: $secondary;
        transition: color 0.3s ease-out;

        &::after {
          background-color: $secondary;
        }
      }
      .nav-link__text {
        &::before,
        &::after {
          color: $secondary;
        }
      }
    }
    &--accent1 {
      &:hover,
      &.active {
        color: $accent1;
        transition: color 0.3s ease-out;

        &::after {
          background-color: $accent1;
        }
      }
      .nav-link__text {
        &::before,
        &::after {
          color: $accent1;
        }
      }
    }
    &--accent2 {
      &:hover,
      &.active {
        color: $accent2;
        transition: color 0.3s ease-out;

        &::after {
          background-color: $accent2;
        }
      }
      .nav-link__text {
        &::before,
        &::after {
          color: $accent2;
        }
      }
    }
    &--accent3 {
      &:hover,
      &.active {
        color: $accent3;
        transition: color 0.3s ease-out;

        &::after {
          background-color: $accent3;
        }
      }
      .nav-link__text {
        &::before,
        &::after {
          color: $accent3;
        }
      }
    }
  }
}

//------------------------- ANIMATIONS -------------------------
@keyframes show-nav-underline {
  0% {
    transform: scaleX(0);
  }
  100% {
    transform: scaleX(1);
  }
}

@keyframes hide-angle-brackets {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  100% {
    transform: scale(0);
    opacity: 0;
  }
}
