.sticky-container {
  position: relative;
  height: 100vh;
  margin: 0 (-$spacer * 2) ($spacer);

  .hero-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("../../../icons/coding.jpg");
    background-repeat: no-repeat;
    background-size: cover;

    animation: header-image-animation linear forwards;
    animation-timeline: view();
    animation-range: exit;
  }

  .logo-container {
    padding-top: 35vh;
    position: sticky;
    top: $spacer * 6;

    .animate-letters {
      display: flex;
      justify-content: center;
      width: 100%;

      .second-part {
        margin-left: $spacer;
        overflow: hidden;
        width: 0;
        opacity: 0;
        animation: animate-second-part linear forwards;
        animation-timeline: view(200px 65vh);
      }

      &--right {
        animation: slide-right linear forwards;
        animation-timeline: view(200px 65vh);

        .first-part {
          transform-origin: bottom;
          transform: translateX(1.5rem) scale(1.7);
        }
        .second-part {
          transform: translate(1.5rem, -0.75rem);
        }
      }

      &--left {
        animation: slide-left linear forwards;
        animation-timeline: view(200px 65vh);

        .first-part {
          transform: translateX(-1.5rem) scale(1.7);
          transform-origin: top;
        }
        .second-part {
          transform: translate(-1.5rem, 0.25rem);
        }
      }
    }
  }
}

.profile-desc {
  display: flex;
  align-items: center;
  gap: $spacer * 2;
  justify-content: space-evenly;
  margin-bottom: $spacer * 100; //TODO remove

  @include media-breakpoint-down(md) {
    flex-wrap: wrap;
  }

  &__pic {
    border-radius: 100%;
    opacity: 0;
    animation: fade-left linear forwards;
    animation-timeline: view();
    animation-range: entry;
  }

  &__text {
    flex-grow: 1;
    font-size: 20px;
    opacity: 0;
    animation: fade-left linear forwards;
    animation-timeline: view();
    animation-range: entry;
  }
}

// ----------------------------ANIMATIONS----------------------------
@keyframes animate-second-part {
  0% {
    width: 0;
    opacity: 0;
  }
  80%,
  100% {
    width: 300px;
    opacity: 1;
  }
}

@keyframes slide-left {
  0% {
    transform: translateX(0);
  }
  80%,
  100% {
    transform: translateX(-70px);
  }
}

@keyframes slide-right {
  0% {
    transform: translateX(0);
  }
  80%,
  100% {
    transform: translateX(170px);
  }
}

@keyframes fade-left {
  0% {
    transform: translateX(-150px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes header-image-animation {
  0% {
    opacity: 1;
  }
  60%,
  100% {
    transform: scale(3);
    opacity: 0;
  }
}
